body {
    margin: 30px;
    text-align: center;
    background-color: #DCDCDC;
}

h1 {
    color: black;
    font-style: italic;
}

h2 {
    color: gray;
    font-size: 20px;
}

hr {
    margin-left: 250px;
    margin-right: 250px; 
}

.title {
    font-family: serif;
    padding: 20px;
}

.content {
    font-family: New Century Schoolbook;
    text-align: justify;
    padding: 250px;
    padding-top: 70px;
    padding-bottom: 70px;    
    background-color: #808080;
    width: 500px;
    margin-left: 230px;
    margin-right: 230px;
    border-radius: 1%;
}

.footer {
    color: grey;
    font-style: italic;
    text-align: right;
    padding-right: 230px; 
}