<div class="uk-offcanvas-content">
    <div id="offcanvas-nav" uk-offcanvas="flip: true; mode: reveal; overlay: true">
        <div class="uk-offcanvas-bar">
            <ul class="uk-nav uk-nav-default">
                <li class="uk-nav-header">Header</li>
                <li><a routerLink="task/new" routerLinkActive="uk-active" uk-toggle><span class="uk-margin-small-right" uk-icon="icon: table"></span>Nova Tarefa</a>
                </li>
                <li><a routerLink="" routerLinkActive="uk-active"><span class="uk-margin-small-right" uk-icon="icon: thumbnails"></span> Lista de Tarefas</a></li>
                <li class="uk-nav-divider"></li>
                <li><a href="#"><span class="uk-margin-small-right" uk-icon="icon: trash"></span> Item</a></li>
            </ul>
        </div>
    </div>
</div>