@font-face {
    font-family: 'Helvetica Neue Bold';
    src: url('fonts/HelveticaNeueLTStd-BdCn.woff') format('woff');
}

@font-face {
    font-family: 'Helvetica Neue Thin';
    src: local('HelveticaNeue-Thin'), local('Helvetica Neue Thin'), url('fonts/HelveticaNeue-Thin.woff') format('woff');
}

@font-face {
    font-family: 'Helvetica Neue Light';
    src: local('HelveticaNeue-Light'), local('Helvetica Neue Light'), url('fonts/HelveticaNeue-Light.woff') format('woff');
}

@font-face {
    font-family: 'Proxima Nova';
    src: url('fonts/ProximaNova-Regular.woff') format('woff');
}

@font-face {
    font-family: 'Helvetica Neue Medium';
    src: url('fonts/HelveticaNeueLTStd-MdCn.woff') format('woff');
;
