@font-face {
    font-family: 'Helvetica Neue Bold';
    src: url('fonts/HelveticaNeue-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Helvetica Neue Thin';
    src: local('HelveticaNeue-Thin'), local('Helvetica Neue Thin'), url('fonts/HelveticaNeue-Thin.woff') format('woff');
}

@font-face {
    font-family: 'Helvetica Neue Light';
    src: local('HelveticaNeue-Light'), local('Helvetica Neue Light'), url('fonts/HelveticaNeue-Light.woff') format('woff');
}

@font-face {
    font-family: 'Proxima Nova';
    src: url('fonts/ProximaNova-Regular.woff') format('woff');
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    src: local('Open Sans SemiBold'), local('OpenSans-SemiBold'), url(https://fonts.gstatic.com/s/opensans/v15/MTP_ySUJH_bn48VBG8sNSqaRobkAwv3vxw3jMhVENGA.woff2) format('woff2');
    unicode-range: U+0370-03FF;
}