.index {
    margin-top: 50px;
    margin-bottom: 50px;
}

.text-index {
    padding-left: 20px !important;
}

nav {
    font-family: 'papercraft' !important;
}

footer {
    left: 0;
    bottom: 0;
    width: 100%;
    font-family: "BT Mono bold" !important;
    font-size: 18px;
}

.footer-copyright {
    border-top: 1px solid gray;
}

.collection-card {
    padding: 0 !important;
}

.icon-star {
    margin-right: 0 !important;
}

.img-git {
    width: 35px;
    margin-right: 5px;
}

.tab-left {
    padding-left: 40px !important;
}

.tab-right {
    padding-right: 10px !important;
}

.tab-bottom {
    padding-bottom: 15px;
}

input,
textarea {
    margin: 0 !important;
}

form .row {
    margin-bottom: 15px;
}

.full {
    position: fixed;
    top: 0;
    right: 0 !important;
    z-index: 11;
    width: 100%;
    height: 100%;
    opacity: .50;
    filter: alpha(opacity=65);
    border-left: 2px solid #90a4ae;
}

.bagde-link {
    position: fixed;
    max-width: 453px;
    bottom: 0;
    right: 0;
    border-top: 2px solid #90a4ae;
}