/* Box Calculator */

.box-calculator {
    width: 320px;
    border: 2px solid #A9A9A9;
    padding: 25px 0;
    border-radius: 5px;
}


/* Box Display */

.box-display {
    border: 2px solid #A9A9A9;
    height: auto;
    margin: 0 28px 28px;
    text-align: right;
    padding: 0 10px;
    border-radius: 5%;
}

.display-expression>p {
    font-size: 20px;
    margin: 10px 0;
}

.display-input>p {
    font-size: 25px;
    margin: 5px 0;
    color: green;
}


/* Box Buttons */

.box-buttons {
    display: flex;
    justify-content: center;
}


/* Box Numbers */

.buttons-numbers {
    justify-content: center;
    width: 192px;
    padding-right: 15px;
}


/* Box Functions */

.buttons-functions {
    width: 55px;
}


/* Buttons */

.btn {
    background-color: white;
    padding: 14px 22px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
}

.btn-number {
    background-color: white;
    color: black;
    border: 2px solid #e7e7e7;
}

.btn-number:hover {
    background-color: #e7e7e7;
}

.btn-function {
    width: 100%;
    background-color: gray;
    color: white;
    border: 2px solid #505050;
}

.btn-function:hover {
    background-color: #505050;
}

.btn-clear {
    padding: 14px 15px;
    background-color: #D3D3D3;
    color: black;
    border: 2px solid #e7e7e7;
}

.btn-clear:hover {
    background-color: #DCDCDC;
}